<!-- Dispatch actions -->
<button (click)="usersActions.setType(true)">Set to true</button>
<button (click)="usersActions.setType(false)">Set to false</button>
<button (click)="usersActions.addRating({firstname: 'Jakob', lastname: 'Larsen', age: 23, yearsOfExperience: 4, region: 'Søborg', picture: 'N/A', gender: 'Male', phone: '20202020', ratings: [5]}, 5)">Add 5 rating to sitters[0]</button>

{{isBaby}}
{{sitters}}

<form novalidate [formGroup]="registerForm" 
  (submit)="onSubmit(registerForm)">
  <div>
    <label>Firstname</label>
    <input id="firstname" type="text" formControlName="firstname">
  </div>
  <div>
    <label>PostalCode</label>
    <input id="postalCode" type="text" formControlName="postalCode">
  </div>
  <div>
    <label>Picture (change to file selector)</label>
    <input id="picture" type="text" formControlName="picture">
  </div>
  <div>
    <label>Age</label>
    <input id="age" type="text" formControlName="age">
  </div>
  <div>
    <label>Gender</label>
    <input id="gender" type="text" formControlName="gender">
  </div>

  <button id="e2e-submit" type="submit">Register</button>
</form>